* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055, #7597de);
}

Nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    z-index: 10000;

    .logo {
        color: #fff;
        font-weight: 700;
        font-size: 2em;
        letter-spacing: 2px;
        font-family: 'Josefin Sans', sans-serif;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            list-style: none;
            margin-left: 20px;

            a {
                text-decoration: none;
                padding: 6px 15px;
                color: #fff;
            }
        }
    }
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #moon {
        mix-blend-mode: screen;
    }

    #text {
        position: absolute;
        font-size: 8rem;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        transform: translateY(100px);
    }

    #hi {
        position: absolute;
        font-size: 8rem;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        transform: translateY(-50px);
    }
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 9000000000;
}

#why {
    position: relative;
    padding: 100px;
    background: #1c0522;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    
 h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
    color: #fff;
 }

 p {
    font-style: 1em;
    margin-bottom: 10px;
    color: #fff;
    line-height: 1.5em;
 }
}


#sayem {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #1c0522;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;

    .container {
        max-width: 1550px;
        margin: auto;
        position: relative;
        overflow: hidden;

        img {
            height: 500px;
            border: 0.1px solid #333;
            box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.658), -10px -5px -5px rgba(0, 0, 0, 0.658);
            margin-bottom: 2rem;
            cursor: pointer;
        }

        p {
            color: #fff;
            font-size: 1.4rem;
            line-height: 2.3rem;
            letter-spacing: 1px;
        }

        h1 {
            color: #fff;
            margin-top: 1.2rem;
            font-size: 2.56rem;
            letter-spacing: 5px;
            margin-bottom: 5rem;
        }
    }

}

footer {
    background: #1b0122;
    .container {
        max-width: 1550px;
        margin: auto;
        position: relative;
        overflow: hidden;

        .footer-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
 
            .footer-logo {
                a {
                   color: #fff;
                   text-transform: uppercase;
                   font-family: 'Josefin Sans', sans-serif;
                   font-size: 2rem;
                   transition: all 0.3s ease-in-out;
                }

                a:hover {
                    color: rgba(255, 255, 255, 0.562);
                }
            }

            ul {
                align-items: center;
                justify-content: center;

                li {
                    margin-bottom: 20px;

                    a {
                        color: #fff;
                        font-family: 'arial', sans-serif;
                        transition: all 0.3s ease-in-out;
                        padding: 12px 25px;
                    }

                    a:hover {
                        color: #fff;
                        background: #15011a;
                    }
                }
            }
        }
    }
}